# Maven
target/
*.iml
.idea/
*.class

# Build outputs
out/
build/
dist/

# Executables and binaries
*.exe
*.jar
*.war
*.zip
*.tar.gz

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env
.local.properties